.DS_Store
*.pyc
build/
resources/fonts/fontsheetSizeMap.json
resources/fonts/metadata.json
resources/icons/metadata.json
resources/splash/metadata.json
sdk
hs_err_*.log
resources/conf/localconfig.json
tmp/
manifest.json
appfloodsecretkey.txt
androidstorepass.txt
possiblewhale.keystore
build.log
addons/
