*.pyc
build/
resources/fonts/fontsheetSizeMap.json
resources/fonts/metadata.json
resources/icons/metadata.json
resources/splash/metadata.json
sdk
hs_err_*.log
resources/conf/localconfig.json
tmp/
manifest.json
tapjoysecretkey.txt
